html, body {
	padding: 0;
	overflow: hidden;
	-webkit-user-select: none;
}

main {
	background: #000;
}

main, #foreground, #background, main > div > .slide {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.slide {
	display: none;
}

.background.slide video {
	position: absolute;
	bottom: 50%;
	right: 50%;
	transform: translateX(50%) translateY(50%);
	min-width: 100%;
	min-height: 100%;
}
