:host {
	padding: 2vw 5vh;
}

header {
	margin: 5vh 0;

	color: #fff;

	font-family: 'Helvetica Neue', 'Helvetica';
	font-weight: bold;
	font-size: 8vh;
}

/* text */

.song pre, p, li, th, td, header, h1, h2, h3, h4, h5, h6 {
	color: #fff;
	text-shadow: 0 .5vw 2vw rgba(0,0,0,0.5);
}

pre {
	line-height: 140%;
	white-space: pre-wrap;
}

.song pre {
	font-family: 'Helvetica Neue', 'Helvetica';
	font-weight: bold;
	font-size: 4.2vw;
	text-align: center;
	line-height: 150%;
	letter-spacing: 0.12vh;
}

div, span, p, li, th, td {
	font-family: 'Helvetica Neue', 'Helvetica';
	font-size: 5vh;
	letter-spacing: 0.05vw;
}

ul, ol {
	-webkit-padding-start: 7vh;
}

/* media */
.media.image {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 15vh;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.media.image.nocaption {
	bottom: 0;
}

.media.video {
	position: fixed;
	top: 0;
	left: 0;
}

.caption {
	position: fixed;
	top: 82vh;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	font-weight: bold;
}

iframe.custom {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border: 0;
}
